@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light */
  --color-base: #fbfdff;
  --color-base-100: #f2edf3;
  --color-primary: #400a35;
  --color-primary-100: #ed70ef;
  --color-secondary: #364153;
  --color-secondary-100: #3f46529e;

  /* Dark */
  --color-d-base: #111217;
  --color-d-base-100: #1a1b22;
  --color-d-primary: #f5c6f8;
  --color-d-primary-100: #ff9aff;
  --color-d-secondary: #a9b3c5;
  --color-d-secondary-100: #c4ccda;
}
