@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light */
  --color-base: #fff5f5;
  --color-base-100: #f8f0f0;
  --color-primary: #859f21;
  --color-primary-100: #a8c92a;
  --color-secondary: #1a8b9d;
  --color-secondary-100: #157a8a;
  --color-text: #000000;

  /* Dark */
  --color-d-base: #1a1a1a;
  --color-d-base-100: #2a2a2a;
  --color-d-primary: #b2d430;
  --color-d-primary-100: #a8c92a;
  --color-d-secondary: #1a8b9d;
  --color-d-secondary-100: #157a8a;
  --color-d-text: #ffffff;
}
